affine==2.4.0
aiobotocore==2.20.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aioitertools==0.12.0
aiosignal==1.3.2
antimeridian==0.4.0
appnope==0.1.4
astropy==7.0.1
astropy-iers-data==0.2025.2.24.0.34.4
astroquery==0.4.9.post1
asttokens==3.0.0
attrs==25.1.0
autograd==1.7.0
beautifulsoup4==4.13.3
bokeh==3.6.3
botocore==1.36.23
bottleneck==1.4.2
brotli==1.1.0
brotli-bin==1.1.0
bzip2==1.0.8
cartopy==0.24.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
comm==0.2.2
contourpy==1.3.1
craterpy==0.6.0
cycler==0.12.1
debugpy==1.8.12
decorator==5.2.1
exceptiongroup==1.2.2
executing==2.1.0
expat==2.6.4
fbpca==1.0
fiona==1.10.1
fonttools==4.56.0
freetype==2.12.1
frozenlist==1.5.0
fsspec==2025.2.0
geopandas==1.0.1
html5lib==1.1
idna==3.10
importlib-metadata==8.6.1
ipykernel==6.29.5
ipython==8.32.0
ipywidgets==8.1.5
jaraco-classes==3.4.0
jaraco-context==6.0.1
jaraco-functools==4.1.0
jedi==0.19.2
jinja2==3.1.5
jmespath==1.0.1
joblib==1.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
keyring==25.6.0
kiwisolver==1.4.8
krb5==1.21.3
lcms2==2.16
lerc==4.0.0
libblas==3.9.0
libbrotlicommon==1.1.0
libbrotlidec==1.1.0
libbrotlienc==1.1.0
libcblas==3.9.0
libcxx==19.1.7
libdeflate==1.22
libedit==3.1.20250104
libexpat==2.6.4
libffi==3.4.2
libgfortran==5.0.0
libgfortran5==13.2.0
liblapack==3.9.0
liblzma==5.6.4
liblzma-devel==5.6.4
libmpdec==4.0.0
libopenblas==0.3.21
libpng==1.6.39
libsodium==1.0.20
libtiff==4.5.1
libwebp-base==1.5.0
lightkurve==2.5.0
llvm-openmp==19.1.7
lz4-c==1.9.4
markupsafe==3.0.2
matplotlib==3.10.0
matplotlib-base==3.10.0
matplotlib-inline==0.1.7
memoization==0.4.0
more-itertools==10.6.0
multidict==6.1.0
munkres==1.1.4
ncurses==6.5
nest-asyncio==1.6.0
numexpr==2.10.2
numpy==2.2.3
oktopus==0.1.2
openjpeg==2.5.2
openssl==3.4.1
packaging==24.2
pandas==2.2.3
parso==0.8.4
patsy==1.0.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.1.0
pip==25.0.1
platformdirs==4.3.6
prompt-toolkit==3.0.50
propcache==0.3.0
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyerfa==2.0.1.5
pygments==2.19.1
pyogrio==0.10.0
pyparsing==3.2.1
pyproj==3.7.1
pyshp==2.3.1
python==3.13.2
python-dateutil==2.9.0.post0
python-tzdata==2025.1
pytz==2025.1
pyvo==1.6.1
pyyaml==6.0.2
pyzmq==26.2.1
qhull==2020.2
rasterio==1.4.3
rasterstats==0.20.0
readline==8.2
requests==2.32.3
s3fs==2025.2.0
scikit-learn==1.6.1
scipy==1.15.2
shapely==2.0.7
simplejson==3.20.1
six==1.17.0
soupsieve==2.6
sqlite==3.45.3
stack_data==0.6.3
threadpoolctl==3.5.0
tk==8.6.14
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2025a
uncertainties==3.2.2
urllib3==2.3.0
wcwidth==0.2.13
webencodings==0.5.1
widgetsnbextension==4.0.13
wrapt==1.17.2
xyzservices==2025.1.0
xz==5.6.4
yarl==1.18.3
zeromq==4.3.5
zipp==3.21.0
zlib==1.2.13
zstd==1.5.6

